@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@media (max-width: 1440px) and (min-width: 1360px) {
  body {
    margin: 0;
    font-family: Work Sans;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
  }
  
  .header{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
  }
  
  /* logo */
  .logo{
    margin-top: 2.75vh;
    margin-left: 52px;
    margin-right: 9vw;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .logo-img{
    position: relative;
    top: 16.3px;
  }
  .logo-text{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 700;
    color: #004BB0;
    margin-top:-17px;
    min-width: 128px;
  }
  .logo-text p{
    font-weight: 500;
    margin-top: -26px;
  }
  .logo-box{
    width: 16.37px;
    height: 16.37px;
    transform: rotate(135deg);
    display: flex;
    flex-direction: row;
    border-radius: 15%;
  }
  .box1{
    background-color: #17234D;
    position: relative; 
    left: 0px;
    top: 16.3px;
  }
  .box2{
    background-color: #93C4FF;
    position: relative;
    left: 14.3px;
    bottom: 14.5px;
  }
  .box3{
    background-color: #2687F8;
    position: relative;
    left: 28.8px;
    bottom: 16.3px;
  }
  .box4{
    background-color: #93C4FF;
    position: relative;
    left: 14.3px;
    bottom: 18px;
  }
  /* header nav */
  .header-nav{
    display: flex;
    flex-direction: row;
    max-width: 29.31vw;
    gap: 3.10vw;
    margin-top: 7.09vh;
    margin-right: 8vw;
  }
  .header-nav a{
    font-size: 16px;
    text-decoration:none;
    color: #0867D7;
    font-weight: 400;
  }
  .header-nav div select{
    max-width: 90px;
    font-size: 16px;
    font-weight: 400;
    text-decoration:none;
    color: #0867D7;
    outline: none;
    border: none;
  }
  /* header search */
  .header-search{
    margin-top: 6vh;
  }
  .header-search input{
    border-color: #0867D7;
    font-size: 16px;
    font-weight: 400;
    color: #0867D7;
    outline: none;
    border-radius: 4px;
    margin-right: 7px;
    padding: 8.5px 80px 8.5px 38px;
    margin-left: 28px;
  }
  .header-search input::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: #0867D7;
    outline: none;
  }
  .header-search button{
    padding: 9px 20px;
    background-color: #0867D7;
    color: #f5f5f5;
    border-radius: 4px;
    border: none;
    font-size: 16px;
  }
/* first page */
  .content1{
    scale: 0.8;
    margin-top: -80px;
  }
  .first-page .first-paragraph{
    text-align: center;
    max-width: 70vw;
    max-height: 10.7vh;
    font-size: 46.9px;
    font-weight: 600;
    line-height: 62px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14.3vh;
  } 
  .first-page .first-paragraph span{
    color: #0075FF;
  }
  .first-page .second-paragraph{
    text-align: center;
    max-width: 53vw;
    max-height: 4.12vh;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
  .first-page .button{
   background-color: #0075FF;
   margin-left: 44%;
   margin-right: 44%;
   margin-top: -140px;
   margin-bottom: 12.12vh;
   padding: 12px 20px;
   border: none;
   box-shadow: 0px 4px 17px rgba(51, 51, 51, 0.15);
   border-radius: 4px;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #FFFFFF;
  }
  .fp-swiper{
    scale: 0.8;
    margin-top: -100px;
  }
  .first-page .sponsors img{
    z-index: -3;
    position: relative;
    bottom: 60px;
  }
  .sponsors-slide {
    margin-left: 50px;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 130px;
    z-index: 1;
  }
  .sponsors-slide img{
    margin-left: 40px;
    object-fit: contain;
  }
  /* .first-page{
    scale: 0.8; 
    margin-top: -50px;
  } */
  /* Stars */
  .star-down{
    width: 41px;
    height: 44px;
    position: relative;
    top: -260px;
    left: 1150px;
  }
  .star-up{
    width: 41px;
    height: 44px;
    position: relative;
    top: 0px;
    left: 160px;
  }
  .star-up .star-2, .star-down .star-2{
    position: relative;
    bottom: 45px;
    right: 12px;
  } 
  /* Explore */
  .explore-head{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: Montserrat;
    /* font-size: 40px; */
    font-size: 30px;
    font-weight: 600;
    line-height: 49px;
    letter-spacing: 0em;
  }
  .explore-box{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #0075FF;
    max-width: 1048px;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    border-radius: 8px;
    gap: 12px;
    scale: 0.9
  }
  .explore-box a{
    text-decoration: none;
    padding: 0px 32px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #0075FF;
    padding: 8px 12px;
    margin-left: 12px;
  }
  .explore-box a:first-child{
    border-left: none;
  }
  .explore-box a:hover{
    background-color: #0075FF;
    color: #FFFFFF;
  }
  .vertical-line{
    width: 1px;
    height: 24px;
    background-color: #0075FF;
  }
  .explore-slide{
    margin-left: 49px;
    margin-bottom: 52px;
  }
  .explore-description{
    width: 310px;
    height: 215.25px;
    background: #FFFFFF;
    box-shadow: 2px 10px 30px rgba(125, 164, 214, 0.125);
    border-radius: 10px;
  }
  .explore-description h2, .explore-description p, .explore-description h3, .explore-description h4{
    margin-left: 16.2px;
  }
  .explore-description h2{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #0075FF;
  }
  .explore-description p{
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #5C5C5C;
  }
  .explore-description h3{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #0075FF;
  }
  .explore-description h4{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #5C5C5C;
  }
  .navigation-buttons{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 17px;
  }
  .my-swiper-button-prev, .my-swiper-button-next{
    padding: 19.98px;
    margin: 3px;
    /* padding: 39.98px; */
    border-radius: 50%;
    font-size: 30px;
    line-height: 30px;
    color: #f5f5f5;
    background-color: #0075FF;
    border: none;
  }
  .see-more{
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 90.38px;
    /* right: 100.38px; */
    bottom: 34px;
    /* bottom: 24px; */
    text-decoration: none;
    color: #0075FF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  /* Apply */
  .apply{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 61px;
    margin-right: 70.64px;
    margin-top: 139.06px;
    /* margin-top: 99.06px; */
    margin-bottom: 93.98px;
  }
  .apply h3{
    font-family: Work Sans;
    font-size: 41px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
    color: #0075FF;
  }
  .goal{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E2027;
    margin-top: -20px;
  }
  .goal-more{
    font-family: Work Sans;
    font-size: 26px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E2027;
  }
  .apply button{
    padding: 10px 24px;
    font-family: Work Sans;
    font-size: 26px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    background-color: #0075FF;
    border: none;
    outline: none;
  }
  /* Instructors */
  .instructors{
    background-color: hsl(213, 100%, 94%);
    padding-top: 52px;
    z-index: -2;
  }
  .instructors-head{
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0em;
    color: #0075FF;
  }
  .instructors-text{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    color: #0D0A0A;
    margin-top: -30px;
  }
  .instructors-background{
    display: inline-flex;
    margin-top: -60px;
    z-index: -1;
  }
  .instructors-circle{
    border-radius: 50%;
    width: 906.38px;
    height: 906.38px;
    border:  0.506076px solid #0075FF;
    position: relative;
  }
  .circle1{
    opacity: 0.36;
    transform: rotate(-170deg);
  }
  /* .circle2{
    right: 907.47px;
    bottom:2.53px;
    opacity: 0.4;
    transform: rotate(-165deg);
    right: 910px; 
    right: 580px; 
  }
  .circle3{
    right: 1812.47px;
    bottom: 5.06px;
    opacity: 0.44;
    transform: rotate(-160deg);
    right: 1490px; 
    right: 1160px; 
  }
  .circle4{
    right: 1740px;
  } */
  /* .circle5{
    right: 2320px;
  }
  .circle6{
    right: 2900px;
  }
  .circle7{
    right: 3480px;
  }
  .circle8{
    right: 4060px;
  }
  .circle9{
    right: 4640px;
  }
  .circle10{
    right: 5220px;
  }
  .circle11{
    right: 5800px;
  } */
  .pricing{
    /* display: flex; */
    background-color: #f5f5f5;
    margin-top: -42px;
  }
  .p-header{
    text-align: center;
    color: #0075FF;
    font-family: Work Sans;
    font-size: 42px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;   
    padding-top: 64px; 
  }
  .p-subheader{
    max-width: 646px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    text-align: center;
    color: #0D0A0A;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
  }
  #course-slide{
    display: grid;
    grid-template-rows: 1fr 1fr 0.2fr;
  }
  #course-slide img{
    height: 246.8328094482422px;
    width: 399px;
  }
  #course-slide h3{
    font-family: Work Sans;
    font-size: 31px;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: left;
    color: #292D32;
    margin: 26px 0px 0px 0px;
  }
  #course-slide h4{
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #0075FF;
    margin: 10px 0px 0px 0px;
  }
  .testimonials{
    background-color: hsl(213, 100%, 94%);
    padding-top: 51px;
    padding-bottom: 34px;
  }
  .t-header{
    text-align: center;
    color: #0075FF;
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0em;
  }
  .t-subheader{
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    margin-top: -40px;
  }
  .testimonials button{
    position: relative;
    left: 592px;
    height: 62px;
    width: 181px;
    border-radius: 8px;
    padding: 10px 24px 10px 24px;
    background: #0075FF;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    color: #FFFFFF;
  }

  /* newsletter */
  .newsletter h3{
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    color: #0075FF;
  }
  .newsletter p{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.01em;
    text-align: center;
    margin-top: -30px;
  }
  #newsletter-input{
    position: relative;
    left: 410px;
    margin-top: 18px;
    margin-bottom: 42px;
  }
  #newsletter-input input{
    width: 408px;
    height: 50px;
    border: 1px solid #0075FF;
    border-radius: 8px 0px 0px 8px;
    text-indent: 20px;
    margin-top: -10px;
  }
  #newsletter-input input:placeholder-shown{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.03em;
  }
  #newsletter-input button{
    width: 123px;
    height: 55px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-align: center;
    background-color: #0075FF;
    color: #FFFFFF;
    border-color: #0075FF;
    border: 1px ;
    box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.13);
    border-radius: 0px 8px 8px 0px;
  }


  /* footer */
  .footer{
    display: grid;
    grid-template-columns: 1.2fr 2fr 1fr;
    background-color: #106FDF;
    color: #FFFFFF;
    height: 425px;
    width: 1441px;
    padding-left: 49px;
    padding-top: 57px;
    padding-bottom: -57px;
  }
  #f-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #f-links>div{
    display: flex;
    flex-direction: column;
  }
  #f-links>div a{
    color: #FFFFFF;
    text-decoration: none;
  }
  .f-logo{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }
  .f-logo p{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: -34px;
  }
  #f-logoname{
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  #ff-name{
    position: relative;
    bottom: 26px;
    left: 28px;
  }
  #ff-name h4{
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;
  }
  #ff-name p{
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: -26px;
  }

  .ff-box{
    width: 16.37px;
    height: 16.37px;
    background-color: #f5f5f5;
    transform: rotate(135deg);
    display: flex;
    flex-direction: column;
    border-radius: 15%;
  }
  .fbox1{
    position: relative;
    left: 14.33px;
    top: 2px;
  }
  .fbox3{
    position: relative;
    left: 14.33px;
    bottom: 2px;
  }
  .fbox4{
    position: relative;
    bottom: 32px;
    left: 28.6px;
  }
  #f-links h4{
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  #f-links a{
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-top: 16px;
  }
  .f-middle p{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-align: center;
    margin-top: 66px;
    margin-left: -150px;
  }
}
