body {
  margin: 0;
}

/* logo */
.logo{
  margin-top: 32px;
  margin-left: 59px;
}
.logo-box{
  width: 16.37px;
  height: 16.37px;
  transform: rotate(135deg);
  display: flex;
  flex-direction: row;
}
.box1{
  background-color: #17234D;
  /* position: relative;
  left: 12.32%;
  top: 49.77%; */
}
.box2{
  /* position: relative;
  left: 19.91%;
  top: 28%; */
  background-color: #93C4FF;
}
.box3{
  /* position: relative;
  left: 23%;
  top: 50.23%;
  bottom: 20.53%; */
  background-color: #2687F8;
}
.box4{
  /* position: relative;
  left: 20.05%;
  bottom: -4%; */
  background-color: #93C4FF;
}
